// Color Variables
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

// Typography Variables
$font-size: 13px;
$font-family: "Manrope", serif;
$primary-font-weight: 700;
$secondary-font-weight: 500;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: $font-family;
 font-size: $font-size;
 font-weight: $secondary-font-weight;
 color: $desaturated-dark-blue;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 font-size: clamp(10px, 10px + 0.2vw, 13px);
 background-color: $light-grayish-blue;
}
.container {
    display:flex;
    flex-direction: column;
    width: clamp(50%, 80% - 10vw, 80%);
    // overflow: hidden;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    .image-container {
        display: flex;
        justify-content: center;
        align-items:center;
        flex-basis: 50%;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .content-container {
        flex-basis: 35%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
         h3 {
            color: $very-dark-grayish-blue;
         }
    }
    .footer-container {
        flex-basis: 15%;
        padding: 1em 2em;
        display: flex;
        align-items: center;
        gap: 1em;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        &.dark {
            background-color: $very-dark-grayish-blue;
            color: white;
        }
        .avatar-container {
            display:flex;
            gap:1em;
            
            &.hidden {
                display: none;
            }
            img.avatar {
                width: 3em;
                height: 3em;
                border-radius: 50%;
            }
            #name {
                color: $very-dark-grayish-blue;
                font-weight: $primary-font-weight;
            }
            #date {
                color: $grayish-blue;
            }
        }
        .share-container {
            display:flex;
            gap: 1em;
            flex-grow: 1;
            align-items: end;
            &.hidden {
                display: none;
            }
            #share-icons {
                display: flex;
                gap: 1.5em;
                align-items: baseline;
            }
        }
        #share {
            border-radius: 50%;
            padding: 0.5em;
            background-color: $light-grayish-blue;
            margin-left: auto;
            cursor: pointer;
            svg {
                fill: #6E8098;
            }
            &.clicked {
                background-color: $grayish-blue;
                svg {
                    fill: $light-grayish-blue;
                }
            }
        }
        
    }
}
.attribution { font-size: 11px; text-align: center; margin-top:1em;}
.attribution a { color: hsl(228, 45%, 44%); }


@media (min-width: 425px) {
    .container {
        margin-top: 1em;
        display: grid;

        .image-container {
            height: 13rem;
        }
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 800px;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-areas: 
            "image content"
            "image footer";
        font-size: 1.2em;

        .image-container {
            height: auto;
            grid-area: image;
            border-radius: 10px 0 0 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content-container {
            grid-area: content;
            gap: 2em;
        }

        .footer-container {
            grid-area: footer;
            margin-bottom: 3em;
            position: relative;

            .share-container {
                right: 0;
                top: -1.5rem;
                transform: translate(30%, -50%);
                z-index: 2;
                padding: 1em;
                position: absolute;
                background-color: $very-dark-grayish-blue;
                color: white;
                border-radius: 10px;

                &::after {
                    content: '';
                    position: absolute;
                    border-width: 0.5rem;
                    border-style: solid;
                    border-color: $very-dark-grayish-blue transparent transparent transparent;
                    bottom: -0.9rem;
                    left: 45%;
                }
            }
        }
    }
}



